@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
    background: #1b1b1b;
    overflow: hidden;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    opacity: 0.9;
    animation: starsMovement 20s linear infinite;
}

@keyframes starsMovement {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% -100%;
    }
}

#foto {
    width: 100%;
    height: 50vh;

    display: grid;
    grid-template-columns: 15rem 45rem;
    grid-template-rows: 1fr 1fr 10em 100px 50px 1fr 1fr;

    
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 2;
}

#foto img {
    height: 400px;
    grid-column: 1;
    grid-row: 3 / 5;
    border-radius: 50%;
    margin: 5px;
}

#foto h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 200px;
    color: white;
    grid-column: 2;
    grid-row: 3 / 5;
    text-align: center;
    margin-right: 4px;
}

#foto h1 strong {
    color: #3498db;
}

#foto p {
    color: #bdc3c7;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    grid-column: 2;
    grid-row: 4 / 5;
    text-align: center;
}

#apresentacao {
    width: 100%;
    height: 50vh;
    justify-items: center;
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30rem 1rem;
}

#apresentacao h2 {
    color: #bdc3c7;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
}

#apresentacao a {
    color: #3498db;
    font-family: 'Lora', serif;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
    font-size: 100px;
}

#apresentacao a:hover {
    color: #ff7f50;
    transition: .3s;
}
#apresentacao p {
    grid-row: 2;
}
#apresentacao p#linkedim {
    grid-column: 2;
}

#apresentacao p#insta {
    grid-column: 4;
}

#apresentacao p#git {
    grid-column: 6;
}

main {
    position: relative;
    background: #1b1b1b;
    overflow: hidden;
    z-index: 1;
}

.trajetoria {
    height: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-rows: 30px 50px 1fr;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.trajetoria h1, p {
    text-align: center;
    grid-column: 2 / 7;
}

.trajetoria h1 {
    grid-row: 1;
}

.trajetoria p {
    grid-row: 2;
}

.timeline {
    grid-row: 3 / 7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
}

.evento {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
    grid-column: 2 / 7;
    height: 200px;
}

.data, .descricao {
    width: 45%;
    padding: 10px;
    margin: 10px;
}

.data {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 30px;
}

.descricao {
    color: white;
    text-align: center;
}

.descricao a {
    color: #3498db;
    font-family: 'Lora', serif;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}

.evento:nth-child(odd) .data {
    order: -1;
    background-color: #3498db;
    color: black;
}

.evento:nth-child(even) .descricao {
    order: -1;
}.evento {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .evento.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .evento.hidden {
    opacity: 0;
    transform: translateY(50px);
  }
  
  
  
      


.chamada {
    width: 100%;
    height: 598px;
    background: #1b1b1b ;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.chamada h1, h2 {
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 5px;
    text-align: center;
}
.chamada button {
    border: none;
    border-radius: 40px;
    padding: 15px;
    background-color: #3498db;
    cursor: pointer;
    margin: 10px;
}
.chamada button:hover {
    background-color: #ff7f50;
    transition: .8s;
}

footer {
    background: #1b1b1b;
    padding: 10px;
    color: #ccc;
    height: 25px;
}